@import url(http://fonts.googleapis.com/css?family=Vollkorn);
@import url(http://fonts.googleapis.com/css?family=Arvo);
/* Layout Breakpoints */
.bg-brand1 {
  background: #ff0b00;
}
.bg-brand2 {
  background: #00c4ff;
}
.btn-brand1 {
  color: #fff;
  background-color: #ff0b00;
  border-color: #e60a00;
}
.btn-brand1:hover {
  background-color: #e60a00;
}
.btn-brand2 {
  color: #fff;
  background-color: #00c4ff;
  border-color: #00b0e6;
}
.btn-brand2:hover {
  background-color: #00b0e6;
}
.btn-outline {
  border: 2px solid #fff;
  color: #fff;
}
.btn-outline:hover {
  background: #fff;
  color: #222;
}
.text-brand1 {
  color: #ff0b00;
}
.text-brand2 {
  color: #00c4ff;
}
/****************************
*   FOR RESPONSIVENESS      *
****************************/
html {
  font-size: 14px;
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 17px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
  p {
    font-size: 0.8em;
  }
}
/****************************
*   BASIC TEMPLATE RULES    *
****************************/
body {
  color: #222222;
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arvo', serif;
}
.img-full {
  width: 100%;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}
/************************************
*   IMPORTING NAVIGATION ELEMENT    *
Element Design From
http://thecodeblock.com/responsive-shrink-on-scroll-down-header-menu/
************************************/
header {
  background: #95ac5f;
  position: fixed;
  width: 100%;
  top: -200px;
  left: 0;
  z-index: 100;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header.open {
  top: 0 !important;
}
.main-menu {
  padding: 10px;
}
.main-menu .brand:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (min-width: 768px) {
  .main-menu .brand {
    width: 15.25424%;
    float: left;
    margin-right: 1.69492%;
  }
  header {
    font-size: 0.8em;
  }
}
.main-menu .logo {
  width: 120px;
  background: #222;
  height: 50px;
  float: left;
}
.main-menu .menu-btn {
  width: 40px;
  cursor: pointer;
  width: 49.15254%;
  float: right;
  margin-right: 0;
  text-align: right;
  padding: 11px 0;
}
@media only screen and (min-width: 768px) {
  .main-menu .menu-btn {
    display: none;
  }
}
.main-menu ul {
  text-align: center;
  height: 0;
  max-height: 420px;
  overflow: hidden;
  margin-bottom: 0;
}
.main-menu ul li a {
  display: block;
  padding: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 1;
}
@media only screen and (min-width: 768px) {
  .main-menu ul {
    margin-top: 6px;
    height: auto;
    width: 83.05085%;
    float: right;
    margin-right: 0;
    text-align: right;
  }
  .main-menu ul li {
    display: inline-block;
  }
}
.main-menu.open ul {
  height: auto;
  overflow-y: auto;
}
.head-hero {
  min-height: 640px;
  background: #ccc;
  background-image: url(../img/5_technology.jpg);
  background-size: cover;
  background-position: top;
  padding-top: 180px;
}
.head-hero h1 {
  font-family: 'Arvo', serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-size: 2em;
}
.head-hero h3 {
  line-height: 1.4;
  font-size: 1.4em;
}
/****************************
*           HERO            *
****************************/
.main-menu ul li.active {
  background: #fff;
}
.main-menu ul li.active a {
  color: #00c4ff;
}
/****************************
*           HERO            *
****************************/
.hero-form {
  margin-top: 60px;
}
.hero-form input {
  margin-top: 15px;
}
/****************************
*   HOME SECTION RULES      *
****************************/
.section-home {
  padding-bottom: 100px;
}
.section-home .title h2 {
  margin-top: 100px;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}
.section-home .title h2:after {
  content: '';
  position: absolute;
  height: 2px;
  background: #222;
  width: 40px;
  top: 100%;
  left: 0;
}
.section-home .title h3 {
  margin-top: 10px;
  font-size: 2.5em;
  margin-bottom: 60px;
}
.section-home .title.text-center h2:after {
  left: 50%;
  margin-left: -20px;
}
.section-home .title.text-right h2:after {
  left: auto;
  right: 0;
}
/***********************************************
*   CLASS FOR SECTION WITH DARK BACKGROUNDS    *
***********************************************/
.dark-block {
  background: #222;
  color: #fff;
}
.dark-block .title h2:after {
  background: #fff;
}
/****************************
*        ABOUT BLOCK        *
****************************/
.about-block .about-image img {
  max-width: 100%;
}
.about-block .about-details {
  padding-bottom: 100px;
}
.about-block .about-details .btn {
  margin-top: 10px;
}
/****************************
*      COURSES BLOCK        *
****************************/
.courses-block {
  background: #222;
  color: #fff;
  background-image: url(../img/800.jpg);
  background-size: cover;
  background-position: top;
}
.courses-block .title h2:after {
  background: #fff;
}
.courses-block .course-item {
  text-align: center;
  background: rgba(0, 0, 0, 0.29);
}
.courses-block .course-item figure img {
  max-width: 100%;
}
.courses-block .course-item .content {
  padding: 20px 10px;
  padding-bottom: 30px;
}
.courses-block .course-item .content .btn-outline {
  margin-top: 10px;
}
/****************************
*   TECHERS OWL SLIDER      *
****************************/
.teacher-block {
  background: #f0f0f0;
  padding-bottom: 100px;
}
.teacher-block .teacher-slider figure {
  margin: 0 auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.teacher-block .teacher-slider figure img {
  max-width: 100%;
}
.teacher-block .teacher-slider .thumbnail {
  margin: 15px;
  padding: 30px;
  padding-top: 45px;
}
/****************************
*     FEATURES BLOCK        *
****************************/
.features-block .feature-item {
  padding-right: 30px;
  margin-bottom: 30px;
}
.features-block .feature-item figure {
  width: 100px;
  float: left;
  margin-right: 20px;
}
.features-block .feature-item figure img {
  max-width: 100%;
}
/****************************
*     GALLERY BLOCK         *
****************************/
.gallery-block {
  background: rgba(247, 255, 145, 0.18);
}
/****************************
*     PRICING TABLE         *
****************************/
.pricing-block {
  background-image: url(../img/sea-sky-clouds-weather.jpg);
  background-size: cover;
  background-position: center;
}
.pricing-block .title h2 {
  margin-bottom: 80px;
}
/* Pricing table element less import */
.price-table > div {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.price-table .btn {
  border-radius: 4px;
}
.panel-price {
  border: none;
  border-radius: 0;
  background: rgba(255, 255, 255, 0.6);
  background-image: -moz-linear-gradient(left, rgba(83, 69, 91, 0.13) 0%, rgba(255, 255, 255, 0.6) 100%);
  background-image: -webkit-linear-gradient(left, rgba(83, 69, 91, 0.13) 0%, rgba(255, 255, 255, 0.6) 100%);
  background-image: linear-gradient(left, rgba(83, 69, 91, 0.13) 0%, rgba(255, 255, 255, 0.6) 100%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.panel-heading h3 {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}
.panel-heading h3:after {
  content: '';
  height: 2px;
  width: 50px;
  position: absolute;
  background: #222;
  top: 115%;
  left: 50%;
  margin-left: -25px;
}
.panel-body {
  background: #00ebff;
  background: rgba(34, 200, 214, 0.4);
  color: #fff;
  padding: 30px 15px;
}
.panel-body ul {
  margin-top: 30px;
  margin-bottom: 30px;
}
.panel-body li {
  padding: 8px 10px;
}
.panel-footer {
  padding: 30px;
  background: rgba(255, 255, 255, 0.6);
}
.panel-footer .btn-buy {
  margin: 0 auto;
  width: 60%;
  border: none;
  font-size: 1em;
  font-weight: 600;
  padding: 12px;
}
.panel-price.panel-active {
  transform: scale(1.04);
  background: #fff;
  z-index: 2;
  position: relative;
  background-image: -moz-linear-gradient(left, rrgba(83, 69, 91, 0.13) 0%, rgba(255, 255, 255, 0.6) 100%);
  background-image: -webkit-linear-gradient(left, rgba(83, 69, 91, 0.13) 0%, rgba(255, 255, 255, 0.6) 100%);
  background-image: linear-gradient(left, rrgba(83, 69, 91, 0.13) 0%, rgba(255, 255, 255, 0.6) 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.panel-price.panel-active .btn-buy {
  color: #fff;
  background-color: #ff0b00;
  border-color: #e60a00;
}
.panel-price.panel-active .btn-buy:hover {
  background-color: #e60a00;
}
@media all and (min-width: 768px) {
  .panel-price.panel-active {
    transform: scale(1.1);
  }
  .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}
/****************************
*     CONTACT BLOCK         *
****************************/
.contact-block .contact-list {
  list-style: none;
  padding: 0;
}
.contact-block .contact-list i {
  font-size: 2em;
  vertical-align: middle;
  margin-right: 10px;
}
.contact-block .contact-list li {
  padding: 10px;
  margin-bottom: 10px;
}
.contact-block .contact-form {
  margin-top: 100px;
}
/****************************
*       FOOTER BLOCK        *
****************************/
.footer-block .signup {
  padding: 60px 0;
  color: #fff;
}
.footer-block .signup h2 {
  font-weight: bold;
}
.footer-block .signup .btn-outline {
  margin-top: 30px;
}
